.intro {
    text-align: center;
    margin: 100px 0;
}

.intro div {
    font-weight: bolder;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

.intro p {
    margin: 0;
    padding: 0;
}

main {
    background: whitesmoke;
    margin: 10px;
    padding: 20px;
    box-shadow: 4px 4px 10px rgb(128, 128, 128);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.hero {
    background: url('../images/767093.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hero .filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #00000077;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hero .hero-content {
    z-index: 10;
}

.btn {
    display: inline-block;
    background: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Styles pour les pages spécifiques */
.menu-category {
    margin-bottom: 30px;
}

.menu-item {
    border-bottom: 1px dashed #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.highlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}


.highlight-item {
    background: whitesmoke;
    box-shadow: 4px 4px 10px #00000055;
    margin: 20px 20px;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    position: relative;
}

.highlight-item:hover {
    scale: 1.05;
}

.highlight-item p {
    text-align: center;
}

.highlight-item div {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

.highlight-item img {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 5;
    right: 0;
    top: 0;
    transform: translate(20px,-20px);
    -webkit-transform: translate(20px,-20px);
    -moz-transform: translate(20px,-20px);
    -ms-transform: translate(20px,-20px);
    -o-transform: translate(20px,-20px);
}