/* Styles de base */

.hero {
    background: url('../images/767093.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

.hero .filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #00000077;
}

.hero .hero-content {
    z-index: 100;
}

.btn {
    display: inline-block;
    background: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Styles pour les pages spécifiques */
.menu-category {
    margin-bottom: 30px;
}

.menu-item {
    border-bottom: 1px dashed #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.highlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.highlight-item {
    background: gray;
    margin: 0 10px;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.highlight-item div {
    display: flex;
    align-items: center;
}

.highlight-item div img{
    width: 40px;
    height: 40px;
}


