@media (max-width: 1024px) {
    .highlights {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .highlights {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .special-item {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .special-item {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .special-item p {
        font-size: 0.9rem;
    }
}